
.SharingForm {
    min-width: 333px;
    width: 20%;
    height: 521px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 23px;
    opacity: 1;
    margin-left: 88px;
    margin-top: 189px;
    padding: 1%;
}

.form-header { 
    font: Semilight 25px/33px Segoe UI;
    letter-spacing: 0;
    color: #182A42;
    opacity: 1;
}

.Upload-Div { 
    width: 100%;
    height: 105px;
    opacity: 1;
    padding: 1%;
    margin: 1% auto;
    border: 1px dashed #70707070;
}
.Upload-Icon { 
    margin: auto;
}

.Transfer-Button { 
    background-color: #0540FF 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1;
}
